body {
    background-color: rgb(203, 203, 202);
    text-align: center;
}

p {
    color : rgb(255, 17, 17);
    font-family: Shanti;
    font-size: 1.2em;
    margin: 20px;
}
img {
    margin: 60px 0 30px 0;
    width: 250px;
}
#search_text{
    width: 400px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 30px;
    font-family: serif ;
    text-align: center;
    font-size: 1.3em;
}
#tablesstyle{
    background-color: rgb(172, 172, 172);
    text-align: center;
    font-family: Shanti;
    font-size: 0.8em;
    margin: 20px;
    box-shadow: 0 0 0 2px black;
    border-radius: 5px;
    
}
#row-border{
    border-top: 2px solid gray;
    grid-column: 1 / 5; /* this code makes the row stretch to entire width of the container */
}
#recordf{
    text-align: left;
    border-radius: 30px;
}

#table1, #table2, #table3 {float:left;width:200;}

td.first{ width:40%;}

td.second{ width:40%;}


table {
    margin: 0;
    padding: 0; 
}

td {
    width: 10%; 
}
#tablemain{
    width:300;
}