<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>Home</title>
    
    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    
	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>

</head>

<body>
    <h2>Home</h2>
    <a class="btn btn-primary" href="addcar">Add New Car</a>
    <a class="btn btn-primary" href="addinsu">Add New Insu</a>
    <a class="btn btn-primary" href="addperson">Add Person</a>
    <table class="table">
        <thead>
            <tr>
            <th hidden scope="col">Id</th>
            <th hidden scope="col">Id Person</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th hidden scope="col">Id car</th>
            <th hidden scope="col">Id insu</th>
            <th scope="col">Des</th>
            <th scope="col">Car Name</th>
            <th scope="col">year</th>
            <th scope="col">Price</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for pr in pr %}
                <tr>
                    <td hidden>{{ pr.idcar }}</th>
                    <td hidden>{{ pr.id }}</th>
                    <td>{{ pr.name }}</th>
                    <td>{{ pr.address }}</td>
                    <td hidden>{{ pr.carid }}</th>
                    <td hidden>{{ pr.carinsu }}</th>    
                    <td>{{ pr.des }}</td>
                    <td>{{ pr.carname }}</td>
                    <td>{{ pr.year }}</td>
                    <td>{{ pr.price }}</td>
                    <td><a href='updatecar/{{ pr.idcar }}'>Edit Car</a></td>
                    <td><a href='deletecar/{{ pr.id }}'>Delete</a></td>
                    <td><a href='editperson/{{ pr.id }}'>Edit Person</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>   
</body>