
<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Python Flask Live Data Search using Jquery Ajax and MySql Database</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script>
$(document).ready(function(){
  load_data();
  function load_data(query='')
  {
   $.ajax({
    url:"/ajaxlivesearch",
    method:"POST",
    data:{query:query},
    success:function(data)
    {
      $('#resultM').html(data);
      $("#resultM").append(data.htmlperson);
    }
   });
   var query2 = '';
   $.ajax({
    url:"/selectcars",
    method:"POST",
    data:{query2:query2},
    success:function(data)
    {
      $('#resultR').html(data);
      $("#resultR").append(data.htmlcar);
    }
   });
   var query3 = '';
   $.ajax({
    url:"/selectinsu",
    method:"POST",
    data:{query3:query3},
    success:function(data)
    {
      $('#resultL').html(data);
      $("#resultL").append(data.htmlinsu);
    }
   });
  $('#search_text').keyup(function(){
    var search = $(this).val();
    if(search != ''){
    load_data(search);
   }else{
    load_data();
   }
  });
          
          $('#search_car').keyup(function(){
            var search = $(this).val();
          $.ajax({
            url:"/selectcars",
            method:"POST",
            data:{query2:search},
            success:function(data)
            {
              $('#resultM').html(data);
              $("#resultM").append(data.htmlcar);
            }
          });
          var query3 = '';
          $.ajax({
            url:"/selectinsu",
            method:"POST",
            data:{query3:search},
            success:function(data)
            {
              $('#resultL').html(data);
              $("#resultL").append(data.htmlinsu);
            }
          });
          var query = '';
          $.ajax({
            url:"/ajaxlivesearch",
            method:"POST",
            data:{query:query},
            success:function(data)
            {
              $('#resultR').html(data);
              $("#resultR").append(data.htmlperson);
            }
          });
          });
}
} );



function tableCreate() {
    var body = document.getElementsByTagName('body')[0];
    var tbl = document.createElement('table');
    tbl.style.width = '100%';
    tbl.setAttribute('border', '1');
    var tbdy = document.createElement('tbody');
    for (var i = 0; i < 3; i++) {
      var tr = document.createElement('tr');
      for (var j = 0; j < 2; j++) {
        if (i == 2 && j == 1) {
          break
        } else {
          var td = document.createElement('td');
          td.appendChild(document.createTextNode('test'))
          i == 1 && j == 1 ? td.setAttribute('rowSpan', '2') : null;
          tr.appendChild(td)
        }
      }
      tbdy.appendChild(tr);
    }
    tbl.appendChild(tbdy);
    body.appendChild(tbl)
  }
</script>

</head>
<body>
<div class="container search-table">
<p><h2>Live Data Search</h2></p>
            <div class="search-box">
                <div class="row">
                    <div class="col-md-3">
                        <h5>Search All Fields</h5>
                    </div>
                    <div class="col-md-9">
                        <input type="text" name="search_text" id="search_text" class="form-control" placeholder="Search all fields">
                    </div> 
                    <button onclick="tableCreate()">Click me</button>
                </div>
            </div>        
   <div style=" display: flex;">
   <div id="resultR" style="width:33%;"></div>
   <div id="resultM" style="width:33%;"></div>
   <div id="resultL" style="width:33%;"></div>
  </div>         
</div>
</body>
</html>
