
<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Python Flask Live Data Search using Jquery Ajax and MySql Database</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script>
$(document).ready(function(){
  load_data();
  function load_data(query='')
  {
   $.ajax({
    url:"/ajaxlivesearch",
    method:"POST",
    data:{query:query},
    success:function(data)
    {
      $('#result').html(data);
      $("#result").append(data.htmlresponse);
    }
   });
   var query2 = '';
   $.ajax({
    url:"/selectcars",
    method:"POST",
    data:{query2:query2},
    success:function(data)
    {
      $('#result2').html(data);
      $("#result2").append(data.htmlresponse2);
    }
   });
   var query3 = '';
   $.ajax({
    url:"/selectinsu",
    method:"POST",
    data:{query3:query3},
    success:function(data)
    {
      $('#result3').html(data);
      $("#result3").append(data.htmlresponse3);
    }
   });
  $('#search_text').keyup(function(){
    var search = $(this).val();
    if(search != ''){
      alert(search);
    load_data(search);
   }else{
    load_data();
   }
  });
  $('#search_car').keyup(function(){
    var search = $(this).val();
    if(search != ''){
      alert(search);
      var query2 = '';
   $.ajax({
    url:"/selectcars",
    method:"POST",
    data:{query2:search},
    success:function(data)
    {
      $('#result2').html(data);
      $("#result2").append(data.htmlresponse2);
    }
   });
   var query3 = '';
   $.ajax({
    url:"/selectinsu",
    method:"POST",
    data:{query3:search},
    success:function(data)
    {
      $('#result3').html(data);
      $("#result3").append(data.htmlresponse3);
    }
   });
   }else{
    load_data();
   }
  });
}
} );
</script>
</head>
<body>
<div class="container search-table">
<p><h2>Live Data Search</h2></p>
            <div class="search-box">
                <div class="row">
                    <div class="col-md-3">
                        <h5>Search All Fields</h5>
                    </div>
                    <div class="col-md-9">
                        <input type="text" name="search_text" id="search_text" class="form-control" placeholder="Search all fields">
                    </div> 
                </div>
            </div>        
   <div style=" display: flex;">
   <div id="result" style="width:33%;"></div>
   <div id="result2" style="width:33%;"></div>
   <div id="result3" style="width:33%;"></div>
  </div>         
</div>
</body>
</html>