<table>
<tr>
<td>
<table id="tablesstyle" class="table table-striped custab">
  <thead>
      <tr>
         <th>id</th>
         <th>des</th>
      </tr>
  </thead>
  <tbody>
{% for row in jobs %}  
   <tr> 
    <td class="row-data">{{row[0]}}</td>
    <td class="row-data">{{row[1]}}</td>
   </tr>
{% endfor %} 
  </tbody>
</table>
</td>
<td>
<table id="tablesstyle" class="table table-striped custab">
  <thead>
      <tr>
         <th>name</th>
         <th>car</th>
         <th>boat</th>
         <th>job</th>
      </tr>
  </thead>
  <tbody>
{% for row in person %}  
   <tr id="{{row[0]}}"> 
    <td class="row-data">{{row[1]}}</td>
    <td style = "display:none" class="row-data">{{row[3]}}</td>
    <td class="row-data"><a href="javascript:void(0)" onclick="generateTable()">{{row[4]}} </a></td> 
    <td class="row-data">{{row[9]}}</td>
    <td class="row-data">{{row[10]}}</td>
   </tr>
{% endfor %} 
  </tbody>
</table>
  </td>
  <td>
  <table id="tablesstyle" class="table table-striped custab">
    <thead>
        <tr>
           <th>id</th>
           <th>des</th>
        </tr>
    </thead>
    <tbody>
  {% for row in insu %}  
     <tr> 
      <td class="row-data">{{row[0]}}</td>
      <td class="row-data">{{row[1]}}</td>
     </tr>
  {% endfor %} 
    </tbody>
  </table>
  </td>        
  </tr>  
  </table>
<script>
        function generateTable(){
               var rowId =event.target.parentNode.parentNode.id;
        //this gives id of tr whose button was clicked
               var data =
               document.getElementById(rowId).querySelectorAll(".row-data");
              
               $.ajax({
                        type: "POST",
                        url: "/selectcars.py",
                        data: { param: data[1].innerHTML}
                      }).done(function( o ) {
                        alert("id:" + data[1].innerHTML);
                      });
               const tbl = document.createElement("table");
               const tblBody = document.createElement("tbody");

              // creating all cells
                for (let i = 0; i < 2; i++) {
                // creates a table row
                const row = document.createElement("tr");

                for (let j = 0; j < data.length; j++) {
                  // Create a <td> element and a text node, make the text
                  // node the contents of the <td>, and put the <td> at
                  // the end of the table row
                  const cell = document.createElement("td");
                  const cellText = document.createTextNode(`${data[j].innerHTML}`);
                  cell.appendChild(cellText);
                  row.appendChild(cell);
                }

                // add the row to the end of the table body
                tblBody.appendChild(row);
              }

              // put the <tbody> in the <table>
              tbl.appendChild(tblBody);
              // appends <table> into <body>
              document.body.appendChild(tbl);
              tbl.setAttribute("id","tablesstyle");
               
               }      
</script>
