
<table id="tablesstyle" class="table table-striped custab">
  <thead>
      <tr>
         <th>name</th>
         <th>car</th>
         <th>boat</th>
         <th>job</th>
      </tr>
  </thead>
  <tbody>
{% for row in person %}  
   <tr id="{{row[0]}}"> 
    <td class="row-data">{{row[1]}}</td>
    <td style = "display:none" class="row-data">{{row[3]}}</td>
    <td class="row-data"><a href="javascript:void(0)" onclick="loadcar()">{{row[4]}} </a></td> 
    <td style = "display:none" class="row-data">{{row[4]}}</td>
    <td class="row-data">{{row[9]}}</td>
    <td class="row-data">{{row[10]}}</td>
   </tr>
{% endfor %} 
  </tbody>
</table>
<script>
        function loadcar()
              {
               var rowId =event.target.parentNode.parentNode.id;
        //this gives id of tr whose button was clicked
               var data =
               document.getElementById(rowId).querySelectorAll(".row-data");
               var selectedcar = data[3].innerHTML;
               alert (data[3].innerHTML);
               var inputF = document.getElementById("search_text");
               inputF.value = data[3].innerHTML;
               inputF.setAttribute("id","search_car");
                $.ajax({
                  url:"/selectcars",
                  method:"POST",
                  data:{query2:selectedcar},
                  success:function(data)
                  {
                    alert(selectedcar);
                    $('#result2').html(data);
                    $("#result2").append(data.htmlresponse2);
                    $('#result').html(data);
                    $("#result").remove(data.htmlresponse);
                  }
                });
                $.ajax({
                  url:"/selectinsu",
                  method:"POST",
                  data:{query3:selectedcar},
                  success:function(data)
                  {
                    $('#result3').html(data);
                    $("#result3").append(data.htmlresponse3);
                  }
                });
              }     
</script>
